<br><br><br>

<p id="notice"><%= notice %></p>

<h3> Student Details</h3>

<p>
  <strong>First Name:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @student.last_name %>
</p>

<p>
  <strong>Family ID:</strong>
  <%= @student.family_id %>
</p>

<p>
  <strong>Date of Birth:</strong>
  <%= @student.date_of_birth %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @student.rating %>
</p>

<p>
  <strong>Active:</strong>
  <%= @student.active ? "Yes" : "No" %>
</p>
