<br><br><br>

<h3><%= @instructor.proper_name %></h3>

<h5>Basic Information</h5>

<p><strong>Name: </strong><%= @instructor.proper_name %></p>
<p><strong>Bio: </strong><%= @instructor.bio %></p>
<p><strong>Active:</strong>
  <%= @instructor.active ? "Yes" : "No" %>
</p>

<h5>Upcoming Camps</h5> 

<table>
    <thead>
      <tr>
  
        <th>Name</th>
        <th>Start</th>
        <th>End</th>
        <th>Time</th>
        <th>Max Students</th>
        
      </tr>
    </thead>
    
    <tbody>
      <% @instructor.camps.each do |camp| %>
      <tr>
        
        <td> <%= link_to camp.curriculum.name, camp %></td>
        <td> <%= link_to camp.start_date.strftime("%m/%d/%y"), camp %></td>
        <td> <%= link_to camp.end_date.strftime("%m/%d/%y"), camp %></td>
        <td> <%= link_to camp.time_slot == "am" ? "Morning" : "Afternoon" %></td>
        <td> <%= link_to camp.max_students, camp %></td>
        
        <td> <%= link_to 'Edit', edit_camp_path(camp) %></td>
        
      </tr>
      <% end %>
    </tbody>
    

  </table>

