<br><br><br>

<p id="notice"><%= notice %></p>

<p>
  <strong>Camp ID:</strong>
  <%= @registration.camp_id %>
</p>

<p>
  <strong>Student ID:</strong>
  <%= @registration.student_id %>
</p>

	
<%= link_to 'Edit', edit_registration_path(@registration) %> |
<%= link_to 'Back', registration_path %>

