<br><br><br>

<p id="notice"><%= notice %></p>

<p>
  <strong>Instructor ID:</strong>
  <%= @camp_instructor.instructor_id %>
</p>

<p>
  <strong>Camp ID:</strong>
  <%= @camp_instructor.camp_id %>
</p>

	
<%= link_to 'Edit', edit_camp_instructor_path(@camp_instructor) %> |
<%= link_to 'Back', camp_instructors_path %>

