<br><br><br>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Street 1:</strong>
  <%= @location.street_1 %>
</p>

<p>
  <strong>Street 2:</strong>
  <%= @location.street_2 %>
</p>

<p>
  <strong>Place:</strong>
  <%= @location.city %>,
  <%= @location.state %>
  <%= @location.zip %>
  
</p>

<p>
  <strong>City:</strong>
  <%= @location.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @location.state %>
</p>

<p>
  <strong>Maximum Capacity:</strong>
  <%= @location.max_capacity %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @location.zip %>
</p>

Upcoming Camps:

	
<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
